# Assignment 2

Perform the following operations using Python on the Air Quality and Heart Diesases data sets
1. Data Cleaning
2. Data Integration
3. Data Transformation
4. Error Correcting
5. Data Model Building

### Import python libraries

In [2]:
import pandas as pd
import numpy as np

### Reading the AirQuality Dataset

In [3]:
df= pd.read_csv("airquality.csv")
df

     Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day Humidity
0             1   41.0    190.0   7.4    67      5    1     High
1             2   36.0    118.0   8.0    72      5    2     High
2             3   12.0    149.0  12.6    74      5    3      Low
3             4   18.0    313.0  11.5    62      5    4      NaN
4             5    NaN      NaN  14.3    56      5    5     High
..          ...    ...      ...   ...   ...    ...  ...      ...
148         149   30.0    193.0   6.9    70      9   26      Low
149         150    NaN    145.0  13.2    77      9   27      Low
150         151   14.0    191.0  14.3    75      9   28     High
151         152   18.0    131.0   8.0    76      9   29   Medium
152         153   20.0    223.0  11.5    68      9   30      Low

[153 rows x 8 columns]

In [4]:
df.isnull().sum()

Unnamed: 0     0
Ozone         37
Solar.R        7
Wind           2
Temp           0
Month          0
Day            0
Humidity       8
dtype: int64

## Data Cleaning

### Fill the NaN values with mean of respective column

In [5]:
df.columns

Index(['Unnamed: 0', 'Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day',
       'Humidity'],
      dtype='object')

In [6]:
df['Ozone'].fillna(df['Ozone'].mean(), inplace=True)
df['Solar.R'].fillna(df['Solar.R'].mean(), inplace=True)
df['Wind'].fillna(df['Wind'].mean(), inplace=True)
df["Humidity"].fillna(df["Humidity"].mode(), inplace = True)
df = df.drop(['Unnamed: 0'], axis = 1)
df

        Ozone     Solar.R  Wind  Temp  Month  Day Humidity
0    41.00000  190.000000   7.4    67      5    1     High
1    36.00000  118.000000   8.0    72      5    2     High
2    12.00000  149.000000  12.6    74      5    3      Low
3    18.00000  313.000000  11.5    62      5    4      NaN
4    42.12931  185.931507  14.3    56      5    5     High
..        ...         ...   ...   ...    ...  ...      ...
148  30.00000  193.000000   6.9    70      9   26      Low
149  42.12931  145.000000  13.2    77      9   27      Low
150  14.00000  191.000000  14.3    75      9   28     High
151  18.00000  131.000000   8.0    76      9   29   Medium
152  20.00000  223.000000  11.5    68      9   30      Low

[153 rows x 7 columns]

## Error Correcting

### Look for Missing Values

In [7]:
df.isnull().sum()

Ozone       0
Solar.R     0
Wind        0
Temp        0
Month       0
Day         0
Humidity    8
dtype: int64

In [8]:
df.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  153.000000  153.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.945033   77.882353    6.993464   15.803922
std     28.693372   87.960267    3.520648    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     21.000000  120.000000    7.400000   72.000000    6.000000    8.000000
50%     42.129310  194.000000    9.700000   79.000000    7.000000   16.000000
75%     46.000000  256.000000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

## Data Transformation

### Using Label Encoding for Encoding column values

In [9]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [10]:
df["Humidity"]= le.fit_transform(df["Humidity"])
df

        Ozone     Solar.R  Wind  Temp  Month  Day  Humidity
0    41.00000  190.000000   7.4    67      5    1         0
1    36.00000  118.000000   8.0    72      5    2         0
2    12.00000  149.000000  12.6    74      5    3         1
3    18.00000  313.000000  11.5    62      5    4         3
4    42.12931  185.931507  14.3    56      5    5         0
..        ...         ...   ...   ...    ...  ...       ...
148  30.00000  193.000000   6.9    70      9   26         1
149  42.12931  145.000000  13.2    77      9   27         1
150  14.00000  191.000000  14.3    75      9   28         0
151  18.00000  131.000000   8.0    76      9   29         2
152  20.00000  223.000000  11.5    68      9   30         1

[153 rows x 7 columns]

## Data Model Building

### Splitting x and y data

In [27]:
x= df.iloc[:, [0,3]].values
y= df["Humidity"]

### Splitting the Training and Testing Data

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25)

### Importing Linear Regression for prediction

In [29]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [30]:
prediction= model.predict(x_test)
prediction

array([2, 0, 2, 0, 0, 2, 2, 2, 0, 0, 2, 0, 2, 2, 1, 2, 0, 2, 2, 0, 0, 2,
       2, 0, 0, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 0, 0, 2, 1])

In [31]:
from sklearn.metrics import classification_report
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.44      0.50      0.47        14
           1       0.50      0.07      0.12        14
           2       0.19      0.50      0.28         8
           3       0.00      0.00      0.00         3

    accuracy                           0.31        39
   macro avg       0.28      0.27      0.22        39
weighted avg       0.38      0.31      0.27        39

C:\Users\Sayog\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Sayog\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Sayog\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))