# Assignment No 1

Perform the following operations using Python on the Facebook metrics data sets
1. Create data subsets
2. Merge Data
3. Sort Data
4. Transposing Data
5. Shape and Reshape Data

### Import python libraries

In [2]:
import pandas as pd
import numpy as np

### Reading the Facebook metrics dataset

In [3]:
data = pd.read_csv("dataset_facebook.csv")

In [4]:
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [5]:
data.shape

(500, 19)





### Remove Nan values

In [6]:
data = data.dropna()
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136









## Create data subsets

### Create data subset for first 8 columns

In [7]:
col1 = data.iloc[:,:8]
col1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach
0,139441,Photo,2,12,4,3,0.0,2752
1,139441,Status,2,12,3,10,0.0,10460
2,139441,Photo,3,12,3,3,0.0,2413
3,139441,Photo,2,12,2,10,1.0,50128
4,139441,Photo,2,12,2,3,0.0,7244
...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400
495,85093,Photo,3,1,7,2,0.0,4684
496,81370,Photo,2,1,5,8,0.0,3480
497,81370,Photo,1,1,5,2,0.0,3778
498,81370,Photo,3,1,4,11,0.0,4156

In [8]:
col1.shape

(495, 8)

### Create data subset for remaining columns

In [9]:
col2 = data.iloc[:,7:14]
col2

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page
0,2752,5091,178,109,159,3078,1640
1,10460,19057,1457,1361,1674,11710,6112
2,2413,4373,177,113,154,2812,1503
3,50128,87991,2211,790,1119,61027,32048
4,7244,13594,671,410,580,6228,3200
...,...,...,...,...,...,...,...
494,5400,9218,810,756,1003,5654,3230
495,4684,7536,733,708,985,4750,2876
496,3480,6229,537,508,687,3961,2104
497,3778,7216,625,572,795,4742,2388
498,4156,7564,626,574,832,4534,2452

In [10]:
col2.shape

(495, 7)

### Create data subset for first 200 rows

In [11]:
subset1 = data.iloc[:200]
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,132817,Photo,3,8,4,10,0.0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290
200,132817,Photo,2,8,4,3,1.0,4204,7191,498,408,596,5161,2974,387,2,139.0,25.0,166
201,132817,Photo,1,8,3,9,0.0,3376,6557,428,409,631,5700,2806,331,0,40.0,5.0,45
202,132817,Status,2,8,3,2,1.0,9236,16054,1151,1130,1560,14014,7880,1075,2,53.0,15.0,70
203,132817,Photo,3,8,2,10,0.0,72864,205934,946,759,1158,122474,30912,646,4,220.0,19.0,243

In [12]:
subset1.shape

(200, 19)

### Create data subset for remaining rows

In [13]:
subset2 = data.iloc[200:]
subset2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
204,132817,Photo,3,8,2,3,0.0,3358,5682,394,323,523,4200,2426,298,2,114.0,16.0,132
205,132201,Photo,1,8,1,12,1.0,3254,5644,371,344,513,5069,2846,283,0,39.0,3.0,42
206,132201,Photo,1,8,1,3,0.0,50640,121234,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
207,132201,Photo,2,8,7,10,0.0,3734,6218,529,434,794,4831,2868,389,5,137.0,20.0,162
208,132201,Photo,3,8,7,3,0.0,2594,4220,347,315,529,3418,2067,248,1,54.0,11.0,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [14]:
subset2.shape

(295, 19)

## Merge Data

### Merge the subset of first 8 columns with subset of remaining columns

In [15]:
merged_data = pd.merge(col1, col2)
merged_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230
519,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876
520,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104
521,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388
522,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452

In [16]:
merged_data.shape

(523, 14)

### Merge subset of first 200 rows with subset of remaining rows

In [17]:
merged_data2 = pd.concat([subset1,subset2])
merged_data2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [18]:
merged_data2.shape

(495, 19)

## Sort Data

### Sort the subset1 with 'Post Hour'

In [19]:
subset1.sort_values(by="Post Hour")

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
154,135713,Photo,2,10,4,1,0.0,5568,10282,746,545,867,5696,3162,537,13,319.0,55.0,387
49,138353,Link,1,12,2,2,0.0,1536,3094,84,76,99,2903,1407,76,1,12.0,1.0,14
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
73,137893,Photo,1,11,4,2,1.0,11444,46054,555,418,717,13737,4320,438,14,172.0,47.0,233
47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,137177,Photo,1,11,7,12,0.0,3754,8533,658,640,2085,6838,3224,598,2,29.0,7.0,38
114,136642,Photo,1,10,7,13,0.0,1592,2749,370,356,414,2551,1454,327,0,15.0,2.0,17
197,133594,Photo,2,8,5,13,0.0,1920,3124,365,331,428,2541,1519,251,1,52.0,7.0,60
127,136393,Photo,1,10,6,13,0.0,747,1443,226,220,287,1252,632,194,0,9.0,1.0,10
128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5

In [1]:
subset1.sort_values(by="Lifetime Post Total Reach")

NameError: name 'subset1' is not defined

## Transposing Data

### Transpose the subset1

In [20]:
transpose = subset1.transpose()
transpose.head(15)

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,200,201,202,203
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,133594,133594,133594,133594,133451,132817,132817,132817,132817,132817
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Status,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,1,2,1,2,1,3,2,1,2,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,8,8,8,8,8,8,8,8,8,8
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,7,6,6,5,4,4,4,3,3,2
Post Hour,3,10,3,10,3,9,3,9,3,10,...,3,10,8,13,9,10,3,9,2,10
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,34512,5282,1809,1920,1954,33536,4204,3376,9236,72864
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,76659,8730,3130,3124,3530,64850,7191,6557,16054,205934
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,1666,703,399,365,356,1954,498,428,1151,946
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,1333,530,359,331,333,1016,408,409,1130,759
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1977,772,494,428,443,1678,596,631,1560,1158
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,54860,5123,2541,2541,3295,50076,5161,5700,14014,122474
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,22816,3244,1435,1519,1772,24448,2974,2806,7880,30912
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,1278,470,289,251,252,1564,387,331,1075,646

## Shape and Reshape Data

### Melt function on col1

In [21]:
col1.melt(id_vars="Type", value_vars=["Category","Post Hour"])

       Type   variable  value
0     Photo   Category      2
1    Status   Category      2
2     Photo   Category      3
3     Photo   Category      2
4     Photo   Category      2
..      ...        ...    ...
985   Photo  Post Hour     10
986   Photo  Post Hour      2
987   Photo  Post Hour      8
988   Photo  Post Hour      2
989   Photo  Post Hour     11

[990 rows x 3 columns]